@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

/*Separador de Contenido*/

hr {
    margin: 5px;
}


/*Color para hipervinculos*/

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

 a:hover, a:focus {
    Color: blue;
    text-decoration: dotted;
    text-decoration: underline;
}

p{
    padding: 5px;
    font-size: larger;
    font-weight: 500;
}

h2:hover, h2:focus{
    color: blueviolet;
    text-decoration: underline;
    text-transform:uppercase;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


a.editar {
    display:flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

/* Redes Sociales */

.fa:hover {
    opacity: 0.9;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-twitter {
    background: lightskyblue;
    color: white;
}

.fa-facebook {
    background: blue;
    color: white;
}

.fa {
    padding: 5px;
    font-size: 10px;
    width: 20px;
    text-decoration: none;
    margin: 10px;
}

/* Encabezado */
.encabezado {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Barra de Navegacion Izquierda */
.encabezado .nav__left {
    align-items: left;  
}
.encabezado .nav__left span{
    color: white;
}
.encabezado .nav__left img {
    width: 6rem;
    vertical-align: middle;
}

/* Barra de Nvegacion Dcha */
ul{
    list-style: none;
    display: flex;
    padding: 5px;
}
.encabezado .nav__right {
    align-items: right;
}
.encabezado .nav__right i {
    margin: 10px;
    color: white;
    vertical-align: middle;
}

/* Contendor */
.container {
    align-items: center;
    text-align: justify;
}

.principal img {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Banner */
.primaria img {
  display: flex;
  width: 100%;
}

.banner{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: start;
  align-items: start;
}

.banner .secundaria {
  grid-column: 1;
  grid-row: 2;
}

.banner .secundaria img {
  width: 120px;
  border-radius: 50%;
}

.banner .info {
  grid-column: 2;
  grid-row: 2;
}


/* Educacion */

.container .educacion img{
    display: flex;
    width: 80px;
    border-radius: 50%;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: flex-end;
    text-align: right;
}



/* table{
    border: solid 2px; 
    padding: 20px;
    margin: 10px;
    width: max-content;
}

td{
    padding-inline: 10px;
    border: solid 2px;
}

td:hover{
    background-color: rgba(127, 67, 184, 0.664);
} */

table {
    width: 80%;
    align-items: center;
    margin: 50px 50px;
    padding: 20px;
    border-spacing: 20px;
    border-collapse: collapse;
    border: solid 1px;
}
td, th {
    padding: 2px;
}

caption{
    text-align: left;
    font-size: large;
    text-transform: uppercase;
    text-decoration-line: underline;
    padding: 20px;
}

tbody tr:hover{
    background-color: #ccc !important;
    text-transform: uppercase;
}

/*Formato hard & soft skills*/

  .skills h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;

  }
  .hardSkills,
  .softskills {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .skills .outer-box {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills .inner-box {
    font-size: small;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  svg {
    position: absolute;
  }

  circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: loading 2s linear forwards;
  }

  @keyframes loading {
    100% {
      stroke-dashoffset: 0;
    }
  }


@media screen and (max-width: 1357px) {
    .formcontainer {
      width: 95%;
    }
    .formcontainer .logincontainer {
      width: 400px;
      margin: 0 auto;
    }

    .formcontainer .welcome-screen-container {
      width: 40%;
    }
  }
  @media screen and (max-width: 900px) {
    .formcontainer .logincontainer {
      width: 400px;
      margin: 0 auto;
    }

    .formcontainer .welcome-screen-container {
      width: 0%;
    }
  }  